@import "tailwindcss";

@theme {
  --color-impletech-blue: #3b4599;
  --color-impletech-green: #5fbb46;
  --color-impletech-light-bg: #f8f9fa;
  --color-impletech-cool-navy: #001b32;
  --color-impletech-midnight: #005095;
}
