---
import { Image } from "astro:assets";

import hikvision from "../assets/images/brands/hikvision.jpg";
import ubiquiti from "../assets/images/brands/ubiquiti.jpg";
import nexxt from "../assets/images/brands/nexxt.jpg";
import zkt from "../assets/images/brands/zkt.jpg";
import suprema from "../assets/images/brands/suprema.png";
import control4 from "../assets/images/brands/control4.jpg";
import softguard from "../assets/images/brands/softguard.jpg";
import savant from "../assets/images/brands/savant.jpg";
import milestone from "../assets/images/brands/milestone.jpg";
import march from "../assets/images/brands/march.jpg";
import knx from "../assets/images/brands/knx.jpg";
import honeywell from "../assets/images/brands/honeywell.jpg";
import fortinet from "../assets/images/brands/fortinet.jpg";
import crestron from "../assets/images/brands/crestron.jpg";
import dmp from "../assets/images/brands/dmp.jpg";

const brands = [
  { src: hikvision, alt: "Logo Hikvision" },
  { src: ubiquiti, alt: "Logo Ubiquiti" },
  { src: nexxt, alt: "Logo Nexxt" },
  { src: zkt, alt: "Logo ZKTeco" },
  { src: suprema, alt: "Logo Suprema" },
  { src: control4, alt: "Logo Control4" },
  { src: softguard, alt: "Logo Softguard" },
  { src: savant, alt: "Logo Savant" },
  { src: milestone, alt: "Logo Milestone" },
  { src: march, alt: "Logo March" },
  { src: knx, alt: "Logo KNX" },
  { src: honeywell, alt: "Logo Honeywell" },
  { src: fortinet, alt: "Logo Fortinet" },
  { src: crestron, alt: "Logo Crestron" },
  { src: dmp, alt: "Logo DMP" },
];
---

<!-- Brands Banner Section -->
<section id="marcas" class="py-16 md:py-20 border-t border-gray-200">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl md:text-4xl font-bold text-center text-impletech-blue mb-12 animate-fade-in"
    >
      Marcas con las que trabajamos
    </h2>
    <!-- Swiper -->
    <div class="swiper brands-swiper-container animate-fade-in">
      <div class="swiper-wrapper items-center">
        {
          brands.map((brand) => (
            <div class="swiper-slide">
              <Image
                src={brand.src}
                alt={brand.alt}
                class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0 mx-auto"
              />
            </div>
          ))
        }
      </div>
      <!-- Add Navigation -->
      <div class="swiper-button-next text-impletech-blue"></div>
      <div class="swiper-button-prev text-impletech-blue"></div>
    </div>
  </div>
</section>

<style is:global>
  .brands-swiper-container {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .brands-swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brands-swiper-container .swiper-button-next,
  .brands-swiper-container .swiper-button-prev {
    color: var(--color-impletech-blue) !important;
    --swiper-navigation-size: 2rem; /* Adjust size */
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .brands-swiper-container .swiper-button-prev {
    left: -3rem; /* Adjust as needed to move it further left */
  }

  .brands-swiper-container .swiper-button-next {
    right: -3rem; /* Adjust as needed to move it further right */
  }

  .brands-swiper-container .swiper-button-next:after,
  .brands-swiper-container .swiper-button-prev:after {
    font-weight: bold;
  }
</style>

<script>
  // @ts-ignore
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper(".brands-swiper-container", {
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      slidesPerView: 2,
      spaceBetween: 30,
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 50,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 60,
        },
      },
      navigation: {
        nextEl: ".brands-swiper-button-next",
        prevEl: ".brands-swiper-button-prev",
      },
    });
  });
</script>