---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:url" content="https://impletechsecurity.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Impletech Security" />
    <meta
      property="og:description"
      content="Soluciones de seguridad para tu negocio"
    />

    <meta property="og:image" content="/og.png" />
    <meta property="og:locale" content="es_ES" />

    

    <title>Impletech</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
